.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 50px;
  width: 50%;
}

.button {
  padding: 10px 15px;
  margin: 50px;
  font-weight: 600;
  border-radius: 20px;
  color: white;

  background-color: #6754e2;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: #5f4dd3;
}
